.SideBar {
  //margin-top: 10px;
  width: 65px;
  height: 530px;
  background-color: rgb(71, 73, 163);
  color: white;
  margin-left: 5px;
}
.SubComponent {
  //padding: 20px;
  padding-top: 25px;
  text-align: center;
  font-weight: bold;
  align-items: center;
  font-size: 0.6rem;
  color: white;
}

.SubComponent div {
  color: white;
  text-decoration: none;
  box-sizing: border-box;
  display: block;
}
.SubComponent div:hover {
  background-color: blue;
  color: white;
}
.SubComponent div:active,
.SubComponent div.active {
  background-color: darkblue;
  color: white;
}
