.SideBar {
  //margin-top: 10px;
  width: 65px;
  height: 530px;
  background-color: rgb(71, 73, 163);
  color: white;
  margin-left: 5px;
}
.SubComponent {
  //padding: 20px;
  padding-top: 40px;
  text-align: center;
  font-weight: bold;
  align-items: center;
  font-size: 0.6rem;
  color: white;
}
.SubComponent:active {
  background-color: blue;
}
.SubComponent:hover {
  background-color: darkblue;
}
// #active {
//   background-color: blue;
//   color: white;
// }
